.body{
    min-height: 100vh;
    background: linear-gradient(180deg, #343E4D, #131A29);
}
.app{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    width: 100%;
    background: linear-gradient(180deg, #343E4D, #131A29);
}
.main-area{
    width: 50%;
}
@media screen and (max-width: 680px){
    .main-area{
        width: 90%;
    }
}